<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="/static/css/admin_dashboard.css">




    <header class="header">
        <div class="header-left">
    <a href="{% url 'admin_dashboard' %}"<button class="header-button logout-btn"><i class="fa fa-arrow-left"></i> Back </button></a><br><br>
    </div>
    </header>

    
<h1 class="main-heading">Employee Activity Log</h1>




<!-- Messages -->
{% if messages %}
<div class="messages">
    <ul>
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<form method="POST" class="employee-form">
    {% csrf_token %}
    <label for="employee_id">Enter Employee ID:</label>
    <input type="text" name="employee_id" id="employee_id" required>
    <button type="submit" class = "submit-btn">
        <i class="fas fa-search"></i> View Activity</button>
</form>


{% if employee_activities %}
    <div class="activity-header">
        <h2 class="section-heading">Employee Activity for ID: {{ employee_activities.0.employee_id }}</h2>
        <a href="{% url 'download_employee_activity_csv' employee_activities.0.employee_id %}">
            <button class="download-btn">
                <i class="fas fa-download"></i> Download CSV</button>
        </a>
    </div>




    <div class="table-container">
        <table class="styled-table">
        <thead>
            <tr>
                <th>Action</th>
                <th>Email</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in employee_activities %}
                <tr>
                    <td>{{ activity.action }}</td>
                    <td>{{ activity.email }}</td>
                    <td>{{ activity.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table><br><br>


    <!-- Add download button -->
    {% comment %} <a href="{% url 'download_employee_activity_csv' employee_activities.0.employee_id %}">
        <button class = "submit-btn">Download CSV</button>
    </a> {% endcomment %}
</div>
{% comment %} {% else %}
    <p>No activity records found for this employee.</p> {% endcomment %}
{% endif %}




</body>
</html>