<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>

    <style>
        
        .alert {
            margin-top: 20px;
            font-size: 1.1em;
            border-radius: 5px;
        }
        
        .alert-danger {
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
        }
        
        .alert-success {
            background-color: #d4edda;
            color: #155724;
            border: 1px solid #c3e6cb;
        }
        
        </style>


</head>
<body>
   

<!-- Display error or success message -->
 {% if error_message %}
 <div class="alert alert-danger" role="alert">
     {{ error_message }}
 </div>
{% endif %}
{% if success_message %}
 <div class="alert alert-success" role="alert">
     {{ success_message }}
 </div>
{% endif %}


<form method="post">
    {% csrf_token %}
    <label for="email">Enter your email address:</label>
    <input type="email" name="email" id="email" required>
    <button type="submit">Submit</button>
</form>
<label> Manger's</label><br>
<a href="/manager/login/">Manager Login</a>

</body>
</html>